// variables
@yellow: #FFFA19;
@rojo: #ee0000;
@verde: #008f39;
// MIXIN
.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.shadows( @right, @bottom, @color) {
    box-shadow: 1px @right @bottom 1px @color;
}


/* estilos personalizados del jumbotron */

.jumbotron {
    background-color: @yellow;
    .margenes(0, 46);
    min-width: 100vw;
    color: black;
}


/* estilos personalizados del footer */

.footer {
    padding: 10px 10px 10px 10px;
    background-color: @yellow;
    .margenes(10, 0);
}


/* estilos personalizados de las tarjetas de los hoteles */

.hotel-card {
    flex: 1 175px;
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    .shadows(5px, 7px, @verde);
}

.card-header {
    min-height: 100px;
}

.card-text {
    margin: px 10px 15px 0px;
}


/* estilos personalizados de los botones de las tarjetas de los hoteles */

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.img-fluid {
    .shadows(10px, 15px, @rojo);
}