/* estilos personalizados del jumbotron */
.jumbotron {
  background-color: #FFFA19;
  margin-top: 0;
  margin-bottom: 46;
  min-width: 100vw;
  color: black; }

/* estilos personalizados del footer */
.footer {
  padding: 10px 10px 10px 10px;
  background-color: #FFFA19;
  margin-top: 10;
  margin-bottom: 0; }

/* estilos personalizados de las tarjetas de los hoteles */
.hotel-card {
  flex: 1 175px;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  box-shadow: 1px 5px 7px 1px #008f39; }

.card-header {
  min-height: 100px; }

.card-text {
  margin: px 10px 15px 0px; }

/* estilos personalizados de los botones de las tarjetas de los hoteles */
.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.img-fluid {
  box-shadow: 1px 10px 15px 1px #ee0000; }
